*{
    background-color: #FEFAE0;
    color: #312519;
    font-family: Arial, Helvetica, sans-serif;
}

#page-title {
    text-align: center;
    font-weight: bold;
    background-color: #FAEDCD;
    padding: 16px;
    margin: 0px;
}

.recipe-list li{
    display: inline-block;
    padding: 8px;
}

#home-link {
    padding: 8px;
    font-weight: bold;
    margin-top: auto;
}